.row {
    overflow: hidden;
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.66666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333%;
}

.col-5 {
    width: 41.66666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.66666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333%;
}

.col-11 {
    width: 91.66666667%;
}

.col-12 {
    width: 100%;
}

.col-10pct {
    width: 10%;
}

.col-20pct {
    width: 20%;
}

.col-30pct {
    width: 30%;
}

.col-40pct {
    width: 40%;
}

.col-50pct {
    width: 50%;
}

.col-60pct {
    width: 60%;
}

.col-70pct {
    width: 70%;
}

.col-80pct {
    width: 80%;
}

.col-90pct {
    width: 90%;
}

.col-100pct {
    width: 100%;
}

.w-10pct {
    width: 10%;
}

.w-20pct {
    width: 20%;
}

.w-30pct {
    width: 30%;
}

.w-40pct {
    width: 40%;
}

.w-50pct {
    width: 50%;
}

.w-60pct {
    width: 60%;
}

.w-70pct {
    width: 70%;
}

.w-80pct {
    width: 80%;
}

.w-90pct {
    width: 90%;
}

.w-100pct {
    width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-10pct,
.col-20pct,
.col-30pct,
.col-40pct,
.col-50pct,
.col-60pct,
.col-70pct,
.col-80pct,
.col-90pct,
.col-100pct {
    float: left;
    display: block;
}

.col-1:before, .col-1:after,
.col-2:before, .col-2:after,
.col-3:before, .col-3:after,
.col-4:before, .col-4:after,
.col-5:before, .col-5:after,
.col-6:before, .col-6:after,
.col-7:before, .col-7:after,
.col-8:before, .col-8:after,
.col-9:before, .col-9:after,
.col-10:before, .col-10:after,
.col-11:before, .col-11:after,
.col-12:before, .col-12:after {
    display: table;
    content: " ";
}

.col-1:after,
.col-2:after,
.col-3:after,
.col-4:after,
.col-5:after,
.col-6:after,
.col-7:after,
.col-8:after,
.col-9:after,
.col-10:after,
.col-11:after,
.col-12:after {
    clear: both;
}

.col-left {
    text-align: left;
}

.col-center {
    text-align: center;
}

.col-right {
    text-align: right;
}

.col-gap-10 {
    padding: 10px;
}

.col-gap-top-10 {
    padding-top: 10px;
}

.col-gap-right-10 {
    padding-right: 10px;
}

.col-gap-bottom-10 {
    padding-bottom: 10px;
}

.col-gap-left-10 {
    padding-left: 10px;
}

.col-gap-20 {
    padding: 20px;
}

.col-gap-top-20 {
    padding-top: 20px;
}

.col-gap-right-20 {
    padding-right: 20px;
}

.col-gap-bottom-20 {
    padding-bottom: 20px;
}

.col-gap-left-20 {
    padding-left: 20px;
}

.col-gap-top-40 {
    padding-top: 40px;
}

.col-gap-right-40 {
    padding-right: 40px;
}

.col-gap-bottom-40 {
    padding-bottom: 40px;
}

.col-gap-left-40 {
    padding-left: 40px;
}

.col-gap-top-80 {
    padding-top: 80px;
}

.col-gap-right-80 {
    padding-right: 80px;
}

.col-gap-bottom-80 {
    padding-bottom: 80px;
}

.col-gap-left-80 {
    padding-left: 80px;
}

.col-margin-top-10 {
    margin-top: 10px;
}

.col-margin-right-10 {
    margin-right: 10px;
}

.col-margin-bottom-10 {
    margin-bottom: 10px;
}

.col-margin-left-10 {
    margin-left: 10px;
}

.col-margin-top-20 {
    margin-top: 20px;
}

.col-margin-right-20 {
    margin-right: 20px;
}

.col-margin-bottom-20 {
    margin-bottom: 20px;
}

.col-margin-left-20 {
    margin-left: 20px;
}

.col-margin-top-40 {
    margin-top: 40px;
}

.col-margin-right-40 {
    margin-right: 40px;
}

.col-margin-bottom-40 {
    margin-bottom: 40px;
}

.col-margin-left-40 {
    margin-left: 40px;
}

.col-margin-top-80 {
    margin-top: 80px;
}

.col-margin-right-80 {
    margin-right: 80px;
}

.col-margin-bottom-80 {
    margin-bottom: 80px;
}

.multi-col-2 {
    column-count: 2;
    overflow: hidden;
}

.multi-col-3 {
    column-count: 3;
}

.multi-col-gap-0 {
    column-gap: 20px;
}

.multi-col-gap-20 {
    column-gap: 20px;
}

.multi-col-gap-80 {
    column-gap: 80px;
}

.main {
    margin: auto;
    max-width: 1140px;
}

.center {
    text-align: center;
}

.flex-vc {
    display: flex;
    align-items: center;
}

.flex-right {
    justify-content: flex-end;
}

.ib {
    display: inline-block;
}

.bl {
    display: block !important;
}

.hidden {
    display: none;
}

@media (max-width: 1160px) {
    .top-menu,
    .bottom-menu,
    .main {
        padding: 0 10px;
    }
}