@font-face {
    font-family: "icomoon";
    src: url("/styles/fonts/icomoon.eot?pojd6w");
    src: url("/styles/fonts/icomoon.eot?pojd6w#iefix") format("embedded-opentype"),
    url("/styles/fonts/icomoon.ttf?pojd6w") format("truetype"),
    url("/styles/fonts/icomoon.woff?pojd6w") format("woff"),
    url("/styles/fonts/icomoon.svg?pojd6w#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* reset values */
body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

/* header */
header {
    border-bottom: 1px solid #ECECEC;
    margin: 0 0 60px 0;
}

header .no-decoration {
    border: none;
    margin: 0;
}

h1 {
    font-size: 2em;
    color: #BB0079;
    font-weight: normal;
    margin: 0 0 40px;
    text-transform: uppercase;
}

h2, h3 {
    font-size: 1.5em;
    color: #83BA41;
    font-weight: normal;
    margin: 0 0 40px;
    text-transform: uppercase;
}

p {
    margin: 0 0 40px 0;
}

p.headline {
    margin-bottom: 80px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

table tr th {
    font-weight: normal;
    background: #ECECEC !important;
    color: inherit !important;
    text-shadow: none !important;
    text-align: left;
    border-right: 1px solid #fff;
}

table tr th {
    padding: 10px;
}

table tr td {
    padding: 20px 10px;
    border-bottom: 1px solid #ECECEC;
}

table tr th:last-child,
table tr td:last-child {
    border-right: none;
}

table tr th.fw-5 {
    width: 5%;
}

table tr th.fw-10 {
    width: 10%;
}

table tr th.fw-15 {
    width: 15%;
}

table tr th.fw-20 {
    width: 20%;
}

table tr th.fw-25 {
    width: 25%;
}

table tr th.fw-30 {
    width: 30%;
}

table tr th.fw-35 {
    width: 35%;
}

table tr th.fw-40 {
    width: 40%;
}

table tr th.fw-45 {
    width: 45%;
}

table tr th.fw-50 {
    width: 50%;
}

table tr td.green {
    color: #83BA41;
}

table.editable input[type="text"] {
    width: 100%;
    padding: 10px 5px;
    background: none;
}

table.editable select {
    width: 100%;
    background: none;
}

table.editable tr.keyboard-selected-row input[type="text"],
table.editable tr.keyboard-selected-row select {
    border: 1px solid #ECECEC;
    background: #F8F8F8;
}

table.editable tr td {
    padding: 10px 15px 10px 5px;
}

table.editable button {
    padding: 0;
    background: none;
    color: inherit;
}

table.editable button:hover {
    color: #83BA41;
    background: none;
}

table.editable button.icon:before {
    padding-right: 0;
}

table tr td.col-button {
    padding-right: 0;
}

table .sortable-header img {
    display: none;
}

table .sorted-header-descending > div:before,
table .sorted-header-ascending > div:before {
    font-family: "icomoon";
    font-size: 12px;
    content: '\e915';
    position: absolute;
    top: 3px;
    left: 0;
}

table .sorted-header-ascending > div:before {
    content: '\e933';
}

.progress img {
    display: none;
}

.logo {
    float: left;
}

nav {
    float: right;
    margin-top: 60px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    float: left;
    margin: 0 0 0 40px;
}

nav ul li a {
    color: #8c8c8c;
    text-transform: uppercase;
    padding-top: 5px;
}

nav ul li a:hover {
    color: #303030;
}

nav ul li a.selected {
    color: #83BA41;
}

/* swipe menu */
@-moz-keyframes slideLeftSwipeMenu {
    0% {
        width: 0;
    }
    50% {
        width: 18%;
        padding-left: 20px;
    }
    100% {
        width: 18%;
        padding-left: 0;
    }
}

@keyframes slideLeftSwipeMenu {
    0% {
        width: 0;
    }
    50% {
        width: 18%;
        padding-left: 20px;
    }
    100% {
        width: 18%;
        padding-left: 0;
    }
}

.swipe-menu {
    color: #fff;
    background: rgba(49, 48, 48, 0.9);
    position: fixed;
    z-index: 1;
    left: 0;
    width: 0;
    height: 100%;
    padding-top: 120px;
    opacity: 0;
    overflow: hidden;
}

.swipe-menu-on {
    width: 18%;
    opacity: 1;
    -moz-animation-name: slideLeftSwipeMenu;
    -moz-animation-duration: 0.2s;
    animation-name: slideLeftSwipeMenu;
    animation-duration: 0.2s;
}

.swipe-menu-close-button {
    float: right;
    width: 22px;
    height: 21px;
    display: block;
    margin-top: -55px;
    padding: 5px;
    cursor: pointer;
    color: #BABABA;
}

.swipe-menu-close-button:before {
    font-family: "icomoon";
    font-size: 18px;
    position: relative;
    top: 2px;
    content: '\e90f';
}

.swipe-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;
}

.swipe-menu ul li {
    margin: 0 0 5px 0;
}

.swipe-menu ul li a {
    color: #ECECEC;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 2px 0 2px 30px;
    display: block;
    opacity: 0.8;
    white-space: nowrap;
}

.swipe-menu ul li a.separator {
    margin-bottom: 20px
}

.swipe-menu ul li a:hover {
    opacity: 1;
}

.swipe-menu ul li a.selected, .swipe-menu ul li a.selected:hover {
    color: #83BA41;
    opacity: 1;
}

.swipe-menu ul li .swipe-menu-root-element {
    padding-left: 10px;
    font-size: 0.8em;
    border-top: 1px solid #8E8E8E;
    padding-top: 10px;
    margin-top: 20px;
    display: block;
    text-transform: uppercase;
}

.swipe-menu ul li:first-child .swipe-menu-root-element {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
}

.swipe-menu ul li .swipe-menu-root-element em {
    font-style: normal;
    color: #8E8E8E;
}

/* top menu */
@-moz-keyframes slideDownTopMenu {
    0% {
        height: 0;
    }
    100% {
        height: 60px;
        padding-top: 0
    }
}

@keyframes slideDownTopMenu {
    0% {
        height: 0;
    }
    100% {
        height: 60px;
        padding-top: 0
    }
}

.top-menu-fixer {
    width: 100%;
    height: 60px;
}

.top-menu {
    background-color: #313030;
    height: 60px;
    color: #BABABA;
    position: relative;
    z-index: 100;
    width: 100%;
    margin-top: -60px;
}

.top-menu.fixed {
    position: fixed;
    box-shadow: 0 0 10px #000;
    -moz-animation-name: slideDownTopMenu;
    -moz-animation-duration: 0.2s;
    animation-name: slideDownTopMenu;
    animation-duration: 0.2s;
}

.top-menu-swiped {
    margin-left: 15%;
}

.top-link {
    float: right;
    display: block;
    color: inherit;
    padding: 3px 5px 1px 0;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 0 50%;
    margin-top: 16px;
}

.top-link em {
    color: #83BA41;
    font-style: normal;
    font-weight: bold;
}

.top-link span {
    padding-right: 5px;
}

.top-link:hover em {
    text-decoration: underline;
}

.top-link.icon:before {
    position: relative;
    top: 2px;
    padding-right: 0;
}

.toggle-menu-btn {
    display: block;
    width: 21px;
    height: 21px;
    margin-top: 18px;
    cursor: pointer;
    color: #BABABA;
}

.toggle-menu-btn:before {
    font-family: "icomoon";
    font-size: 18px;
    content: "\e923";
    padding-right: 10px;
    position: relative;
    top: 2px;
    left: 1px;
}

.search-box {
    display: block;
    float: right;
    background: #bbbbbb !important;
    border: none !important;
    margin: 12px 20px 0 0;
    color: #313030;
    width: 300px;
}

.search-box-focus {
    background-color: #eee !important;
}

.search-box:after {
    font-family: "icomoon";
    font-size: 18px;
    position: relative;
    top: 2px;
    content: '\e92b';
}

.search-box input[type=text] {
    padding: 10px 0 10px 10px;
    background: none;
    border: none;
    width: 260px;
}

.wicket-aa-container {
    background: #fff;
    border: 1px solid #ECECEC;
    border-top: none;
    color: #414141;
    margin: 11px 0 0 -100px !important;
    width: 480px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wicket-aa-container ul {
    list-style-type: none;
    margin-bottom: 0;
}

.wicket-aa-container ul li:first-child .search-response-section {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
}

.search-response-section {
    margin: 10px 0 10px -45px;
    padding: 10px 0 0 20px;
    font-size: 1.1em;
    border-top: 1px solid #ECECEC;
}

.search-response-section.icon:before {
    font-size: 0.9em;
    top: 0;
}

.search-response-description {
    color: #414141;
}

.search-response-item {
    display: block;
    overflow: hidden;
    padding: 2px 0 2px 40px;
    margin: 0 0 10px -40px;
}

.wicket-aa ul li.selected .search-response-item,
.search-response-item:hover {
    background: #ECECEC;
}

#search-box-overlay {
    width: 100%;
    height: 100%;
    top: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 100;
}

.language-footer {
    background: #252424;
    font-size: 0.8em;
    padding: 20px 0 20px 0;
}

.language {
    border-bottom: 1px solid #414141;
    margin: auto;
    display: inline-block;
    padding: 0 100px 20px 100px;
}

.language .flag {
    float: left;
    padding-right: 10px;
}

.language .flag:last-child {
    padding-right: 0;
}

.language .flag a {
    color: inherit;
    text-decoration: none;
}

.language .flag a:hover {
    color: #83BA41;
}

.shopping-cart-button {
    color: #fff;
    text-decoration: none;
    padding: 16px 15px 18px 15px;
    float: right;
    background: rgba(255, 255, 255, 0.1);
}

.shopping-cart-button:hover {
    color: #fff;
}

.shopping-cart-button:before {
    font-family: "icomoon";
    font-size: 18px;
    content: "\e90a";
    position: relative;
    top: 2px;
}

.shopping-cart-button strong {
    border-radius: 10px;
    padding: 1px 0;
    color: white;
    font-weight: normal;
}

.shopping-cart-button span {
    height: 21px;
    display: inline-block;
    margin: 5px 5px 0 5px;
}

.shopping-cart-button-not-empty {
    background: #83BA41;
}

.user-info {
    float: right;
}

/*Git kit*/

.gitkit-sign-in-button {
    display: none;
}

.gitkit-user-card-chip {
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
}

.gitkit-user-card-chip:hover {
    color: #83BA41;
}

.gitkit-account-chip-photo {
    border: 1px solid;
    margin-right: 10px;
    position: absolute;
}

.gitkit-account-chip-name {
    margin-top: 5px;
    font-weight: bold;
    display: block;
    padding: 5px 0 0 50px;
}

.gitkit-account-chip-email {
    display: block;
    padding-left: 50px;
}

.gitkit-user-card-menu {
    background: #fff;
    border: 1px solid #ECECEC;
    border-top: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    margin-top: 11px;
    padding: 0;
    color: #8C8C8C;
}

.gitkit-user-card-menu li {
    padding: 10px;
    cursor: pointer;
    outline: none;
}

.gitkit-user-card-menu li:before {
    font-family: "icomoon";
    font-size: 18px;
    position: relative;
    content: '\e922';
    top: 2px;
    padding-right: 10px;
}

.gitkit-user-card-menu li:nth-child(1) {
    display: none;
}

.gitkit-user-card-menu li:nth-child(2):before {
    content: '\e922';
}

.gitkit-user-card-menu li:hover {
    color: #83BA41;
}

.gitkit-user-card-menu.gitkit-hidden {
    display: none;
}

.gitkit-title,
.gitkit-id-email-info-container,
.gitkit-id-arrow-indicator,
.gitkit-idp-icon {
    display: none;
}

.gitkit-manage-account-list,
.gitkit-idp-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.gitkit-idp-list {

}

.gitkit-container {
    margin-bottom: 40px;
}

.gitkit-container label {
    width: 120px;
    margin: 10px 0 10px 0;
    display: block;
    float: left;
}

.gitkit-container input[type=text],
.gitkit-container input[type=email],
.gitkit-container input[type=password] {
    width: 400px;
    display: block;
    margin-bottom: 20px;
    float: left;
}

.gitkit-id-submit {
    margin-right: 10px;
}

.gitkit-id-submit:before {
    font-family: "icomoon";
    font-size: 18px;
    position: relative;
    content: '\e931';
    top: 2px;
    padding-right: 10px;
}

.gitkit-text {
    margin-bottom: 5px;
}

.gitkit-recommend-option {
    margin-bottom: 20px;
    clear: both;
}

.gitkit-idp-button {
    overflow: hidden;
    display: block;
    margin-bottom: 20px;
}

.gitkit-idp-button .gitkit-idp-icon {
    display: inline;
    background-color: #313030;
    width: 45px;
    float: left;
}

.gitkit-idp-button .gitkit-idp-text {
    padding: 13px 10px;
    display: block;
    float: left;
    color: #000;
    border: 1px solid #313030;
    width: 300px;
}

.gitkit-idp-google .gitkit-idp-icon {
    background-color: #DA4136;
}

.gitkit-idp-google .gitkit-idp-text {
    border-color: #DA4136;
}

.gitkit-idp-facebook .gitkit-idp-icon {
    background-color: #3a6bba;
}

.gitkit-idp-facebook .gitkit-idp-text {
    border-color: #3a6bba;
}

.gitkit-error {
    margin: 0 0 10px 120px;
    color: #ab2276;
    position: relative;
    top: -10px;
}

.gitkit-error.gitkit-hidden {
    display: none;
}

.gitkit-error:before {
    font-family: "icomoon";
    font-size: 14px;
    position: relative;
    content: '\e90f';
    top: 1px;
    padding-right: 5px;
}

.gitkit-label:after {
    content: ":";
}

.gitkit-form-actions {
    display: block;
    clear: both;
}

.gitkit-id-page-sign-in,
.gitkit-id-page-password-recovery,
.gitkit-id-page-password-sign-in,
.gitkit-id-page-password-sign-up,
.gitkit-id-page-sign-up,
.gitkit-id-page-provider-sign-in {
    margin: auto;
    width: 542px;
}

.gitkit-id-page-provider-sign-in {
    width: 368px;
}

.gitkit-arrow-indicator,
.gitkit-arrow-indicator-active {
    border: none;
    height: 32px;
    padding: 0;
    position: relative;
    width: 32px;
    margin: 3px 0 0 -35px;
    display: inline-block;
    cursor: pointer;
}

.gitkit-arrow-indicator {
    background: url(https://www.gstatic.com/authtoolkit/image/indicator-left.png) no-repeat center
}

.gitkit-arrow-indicator-active {
    background: url(https://www.gstatic.com/authtoolkit/image/indicator-active-left.png) no-repeat center
}

.gitkit-recaptcha {
    clear: both;
    margin: 0 0 20px 120px;
}

.gitkit-id-page-sign-up .gitkit-recommend-option,
.gitkit-id-page-sign-up .gitkit-idp-list,
.gitkit-id-page-sign-up .gitkit-text {
    margin: auto;
    width: 368px;
}

.gitkit-id-page-password-reset-failure .gitkit-text {
    margin: 0 0 20px 0;
    padding: 20px 20px 20px 20px;
    background: #ebcee3;
}

.gitkit-id-page-password-reset-failure .gitkit-text:before {
    font-family: "icomoon";
    font-size: 25px;
    float: left;
    padding-right: 10px;
    content: '\e90f';
    color: #ab2276;
    margin-top: -3px;
}

.gitkit-id-page-password-recovery-email-sent {
    margin: 0 0 20px 0;
    padding: 20px 20px 18px 20px;
    background: #d1deeb;
}

.gitkit-id-page-password-recovery-email-sent:before {
    font-family: "icomoon";
    font-size: 25px;
    float: left;
    padding-right: 10px;
    content: '\e91b';
    color: #264f83;
    margin-top: -3px;
}

.gitkit-id-page-password-reset input {
    float: none !important;
}

.gitkit-busy-indicator {
    color: #83BA41;
    width: 32px;
    height: 32px;
    font-family: "icomoon";
    font-size: 32px;
    display: block;
    -moz-animation: progressRotate 1s infinite;
    animation: progressRotate 1s infinite;
    margin: 40px auto 0 auto;
    text-align: center;
}

.gitkit-busy-indicator:after {
    content: "\e903";
}

.gitkit-callback-indicator-container {
    display: none;
}

/* bottom menu */
.bottom-menu {
    padding: 25px 0;
}

.ajax-standard-indicator {
    margin-left: 5px;
}

/* ui accordion */
.ui-accordion {
    margin: 0 0 40px 0;
}

.ui-accordion .progress {
    position: absolute;
    margin-top: -26px;
    margin-left: 2px;
}

.ui-accordion-header {
    background: #ECECEC;
    padding: 10px 20px;
    margin: 0;
    font-size: 1em;
    text-transform: uppercase;
    color: #82B941;
    font-weight: normal;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    outline: none;
}

.ui-accordion-content {
    border: 1px solid #ECECEC;
    border-top: none;
}

.ui-accordion-content a {
    padding: 10px 20px;
    color: #8C8C8C;
    display: block;
    background-position: right 20px center;
}

.ui-accordion-content a.selected {
    font-weight: bold;
    color: #000;
}

.ui-state-active {
    margin-top: 20px;
    border-bottom: none;
}

.ui-state-active:first-child {
    margin-top: 0;
}

.ui-accordion-content-active {
    margin-bottom: 20px;
}

.ui-accordion-content-active:last-child {
    margin-bottom: 0;
}

.account-settings-icon-checked:hover,
.account-settings-icon-cross:hover {
    color: #000;
}

.account-settings-icon-checked:after,
.account-settings-icon-cross:after {
    font-family: "icomoon";
    font-size: 16px;
    position: relative;
    float: right;
    color: #d2d2d2;
}

.account-settings-icon-checked:after {
    color: #83BA41;
}

.account-settings-icon-cross:after {
    content: "\e90e";
}

.account-settings-icon-checked:after {
    content: "\e931";
}

/* footer */
footer {
    color: #8C8C8C;
    background: #313030;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 50px 0 50px 0;
    margin: 0;

}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li:last-child {
    margin-right: 0;
}

footer ul li a {
    text-transform: uppercase;
    color: inherit;
}

footer ul li a:hover {
    color: #82B941;
}

footer .copyright {
    padding: 0 0 120px 0;
    font-size: 0.8em;
    background: url("../images/logo-footer.png") #252424 50% 60px no-repeat;
}

footer .copyright strong {
    color: #82B941;
    font-weight: normal;
}

footer .trademarks {
    display: none;
}

.widget-loading {
    background: url("../images/progressbar.gif") 0 0 no-repeat;
    width: 60px;
    height: 60px;
    margin: auto;
    padding: 80px;
}

section {
    min-height: 800px;
}

.responsive-image {
    background: 50% 50% no-repeat;
    background-size: contain;
}

.thumbnail {
    height: 100px;
    width: 240px;
}

/*
* Progress
*/

@-moz-keyframes progressRotate {
    0% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

@keyframes progressRotate {
    0% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

.progress {
    color: #83BA41;
    width: 32px;
    height: 32px;
    font-family: "icomoon";
    font-size: 32px;
    display: inline-block;
    -moz-animation: progressRotate 1s infinite;
    animation: progressRotate 1s infinite;
}

.progress-mini {
    width: 16px;
    height: 16px;
    font-size: 16px;
}

.progress-wrapper {
    text-align: center;
    margin: 40px 0;
}

.progress:after {
    content: "\e903";
}

.progress-indicator-checkbox-fix {
    margin: 2px 0 0 5px;
}

.component-checkbox .progress-indicator-checkbox-fix {
    margin: 10px 0 0 0;
}